{% trans_default_domain 'sfs_account' %}

<div class="bg-white p-4">
    <h4>Users</h4>

    {% if account is instanceof('Softspring\\AccountBundle\\Model\\MultiAccountedAccountInterface') %}
        <ul>
        {% for relation in account.relations %}
            <li>
                {% if route_defined('sfs_user_admin_users_details') %}
                    <a href="{{ url('sfs_user_admin_users_details', {'user':relation.user}) }}">{{ relation.user.username }}</a>
                {% else %}
                    {{ relation.user.username }}
                {% endif %}

                {% if relation.grantedBy is defined and relation.grantedBy != relation.user %}
                    (granted by {{ relation.grantedBy.username }})
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>