includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - identifier: trait.unused
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
