{% trans_default_domain 'sfs_account' %}
{% extends '@SfsUser/preferences_layout.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Account</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for relation in app.user.relations %}
            <tr>
                <td>{{ relation.account.name }}</td>
                <td>
                    {% if relation.account.owner == app.user %}
                        Owner
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}